### UNICORN COMPANIES DATA CLEANNING

#### IMPORT LIBRARY

In [1]:
import numpy as np
import pandas as pd
import SRC.Cleaning as fc

In [77]:
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in /usr/local/Caskroom/miniconda/base/envs/ironhack/lib/python3.8/site-packages (1.21.3)
Requirement already satisfied: pandas in /usr/local/Caskroom/miniconda/base/envs/ironhack/lib/python3.8/site-packages (1.3.4)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/Caskroom/miniconda/base/envs/ironhack/lib/python3.8/site-packages (from pandas) (1.21.3)
Requirement already satisfied: pytz>=2017.3 in /usr/local/Caskroom/miniconda/base/envs/ironhack/lib/python3.8/site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/Caskroom/miniconda/base/envs/ironhack/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/Caskroom/miniconda/base/envs/ironhack/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

#### IMPORT THE DATAFRAME TO CLEAN IT

In [18]:
unicorn = pd.read_csv("Data/Unicorns.csv",encoding = "ISO-8859-1")

#### CHECKING HEAD

In [19]:
display(unicorn.head(3))

,Company name,Valuation (in $B),Date Joined,Country of origin,City,Industry,Investors
0,Bytedance,$140,04-07-2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
2,SpaceX,$74,12-01-2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."

#### CHECKING SHAPE

In [20]:
display(unicorn.shape)

(708, 7)

#### CHECKING NULL

In [21]:
display(unicorn.isnull().sum())

Company name         0
Valuation (in $B)    0
Date Joined          0
Country of origin    0
City                 9
Industry             0
Investors            1
dtype: int64

#### CHECKING 'Company Name' DUPLICATES, SINCE IS THE ONLY ONE THAT CAN NOT HAVE DUPLICATES.

In [22]:
display(unicorn['Company name'].duplicated().sum())

0

#### NEED TO ADD A NEW COLUMN FORMATING DATE TO YEAR

In [23]:
# print(dates)

In [24]:
unicorn["Date"] = unicorn["Date Joined"].str[-4:]

In [29]:
display(unicorn.sample(5))

,Company name,Valuation (in $B),Date Joined,Country of origin,City,Industry,Investors,Date
652,Quantum Metric,$1,01-07-2021,United States,Colorado Springs,Data management & analytics,"Insight Partners, Bain Capital Ventures",2021
589,iFood,$1,11/13/2018,Brazil,Osasco,"Supply chain, logistics, & delivery","Movile, Just Eat, Naspers",2018
593,Ynsect,$1,2/21/2019,France,Evry,Other,"Astanor Ventures, Upfront Ventures, IDInvest P...",2019
674,Lattice,$1,3/23/2021,United States,San Francisco,Internet software & services,"Khosla Ventures, Thrive Capital, Y Combinator",2021
143,Scopely,$3.3,10/29/2019,United States,Culver City,Mobile & telecommunications,"Greycroft, Sands Capital, Revolution Growth",2019

#### CLEANNING DATAFRAME POST DEFINITION OF HYPOTHESIS

#### LIST OF COLUMNS TO DROP

In [26]:
column = ["Date Joined", 
          "Investors"]

# DROP 

unicorn2 = unicorn.drop(column,axis=1)

In [27]:
display(unicorn2.sample(5))

,Company name,Valuation (in $B),Country of origin,City,Industry,Date
183,Bird Rides,$2.85,United States,Santa Monica,Auto & transportation,2018
279,Virta Health,$2,United States,San Francisco,Health,2020
47,Argo AI,$7.25,United States,Pittsburgh,Artificial intelligence,2019
2,SpaceX,$74,United States,Hawthorne,Other,2012
129,Relativity,$3.6,United States,Chicago,Internet software & services,2021

#### EXPORT THE FINAL DATAFRAME AS CSV

In [28]:
unicorn2.to_csv('data/Unicorn2.csv')