In [ ]:
UNICORN COMPANIES DATA CLEANNING

In [3]:
# IMPORT LIBRERY

import numpy as np
import pandas as pd
import SRC.cleaning_functions as fc

# PIP INSTALL

!pip install numpy
!pip install pandas

ModuleNotFoundError: No module named 'SRC'

In [4]:
# LOADDING DATA

df = pd.read_csv("../Data/Unicorns.csv",encoding = "ISO-8859-1")

In [5]:
# CHECKING HEAD

display(df.head(3))

,Company name,Valuation (in $B),Date Joined,Country of origin,City,Industry,Investors
0,Bytedance,$140,04-07-2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
2,SpaceX,$74,12-01-2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."

In [6]:
# CHECKING SHAPE

display(df.shape)

(708, 7)

In [8]:
# CHECKING Null

display(df.isnull().sum())

Company name         0
Valuation (in $B)    0
Date Joined          0
Country of origin    0
City                 9
Industry             0
Investors            1
dtype: int64

In [9]:
# CHECKING 'Company Name' DUPLICATES, SINCE IS THE ONLY ONE THAT CAN NOT HAVE DUPLICATES.

display(df['Company name'].duplicated().sum())

0